[Desktop Entry]
Encoding=UTF-8
Name=Activities testing
Name[ca]=Prova d'activitats
Name[ca@valencia]=Prova d'activitats
Name[cs]=Testování aktivit
Name[de]=Aktivitätentest
Name[es]=Prueba de actividades
Name[fr]=Test des activités
Name[ko]=활동 테스트
Name[nds]=Aktiviteten-Tests
Name[nl]=Bezig met testen van Activiteiten
Name[pt]=Teste das actividades
Name[pt_BR]=Teste de atividades
Name[sk]=Testovanie aktivít
Name[sv]=Aktivitetstestning
Name[tr]=Etkinlik sınaması
Name[uk]=Тестування просторів дій
Name[x-test]=xxActivities testingxx
Icon=preferences-system-time
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Ivan
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.listactivitiestest
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=640,400
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=
