[Desktop Entry]
Name=Activity manager UI handler
Name[bs]=Korisnički rukovatelj menadžera aktivnosti
Name[ca]=Gestor de la IU del gestor d'activitats
Name[cs]=UI ovladač Správce aktivit
Name[da]=Håndtering af aktivitetshåndtering-UI
Name[de]=GUI-Modul für Aktivitätenverwaltung
Name[el]=Χειριστής γραφικού περιβάλλοντος διαχειριστή δραστηριοτήτων
Name[es]=Manejador de la interfaz de usuario del gestor de actividades
Name[et]=Tegevuste halduri kasutajaliidese käitleja
Name[eu]=Jarduera kudeatzailearen UI maneiatzailea
Name[fi]=Aktiviteettienhallinnan käyttöliittymäkäsittelijä
Name[fr]=Contrôleur d'interface graphique avec le gestionnaire d'activités
Name[gl]=Tirador a UI de xestión da actividade
Name[he]=תוסף ממשק משתמש של מנהל פעילויות
Name[hu]=Aktivitáskezelő UI bővítmény
Name[ia]=Gerente de UI de administrator de activitate
Name[it]=Gestore dell'interfaccia di gestione delle attività
Name[kk]=Белсенділік менеджер плагиннің интерфейс тізгіні
Name[km]=កម្មវិធី​គ្រប់គ្រង​សកម្មភាព​នៃ​កម្មវិធី​គ្រប់គ្រង​ចំណុច​ប្រទាក់​អ្នកប្រើ
Name[ko]=활동 관리자 UI 핸들러
Name[lt]=Veiklų tvarkyklė NS valdymo programa
Name[mr]=कार्यपध्दती व्यवस्थापक UI हाताळणारा
Name[nb]=Brukerflatehåndtering for aktivitetsbehandler
Name[nl]=UI-behandelaar van activiteitenbeheerder
Name[pa]=ਐਕਟਵਿਟੀ ਮੈਨੇਜਰ UI ਹੈਂਡਲਰ
Name[pl]=Program obsługujący interfejs użytkownika menadżera działań
Name[pt]=Interface de gestão de actividades
Name[pt_BR]=Interface para gerenciamento de atividades
Name[ro]=Manipulant grafic pentru gestionarul de activități
Name[ru]=Описание интерфейса расширения «Диспетчер комнат»
Name[sk]=UI spracovač Správcu aktivít
Name[sl]=Ročnik uporabniškega vmesnika upravljalnika dejavnosti
Name[sr]=Руковалац УИ‑ја менаџера активности
Name[sr@ijekavian]=Руковалац УИ‑ја менаџера активности
Name[sr@ijekavianlatin]=Rukovalac UI‑ja menadžera aktivnosti
Name[sr@latin]=Rukovalac UI‑ja menadžera aktivnosti
Name[sv]=Grafiskt gränssnitt för aktivitetshantering
Name[tr]=Etkinlik yöneticisi Arayüz İşleyicisi
Name[uk]=Засіб керування інтерфейсом зміни просторів дій
Name[x-test]=xxActivity manager UI handlerxx
Name[zh_CN]=活动管理器界面处理器
Name[zh_TW]=活動管理員使用者介面處理器
Comment=
Encoding=UTF-8
Type=Service
Icon=preferences-activities
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Ivan Cukic
X-KDE-PluginInfo-Email=ivan.cukic@kde.org
X-KDE-PluginInfo-Name=org.kde.ActivityManager.UiHandler
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/uihandler.qml
