[Desktop Entry]
Name=List activities test
Name[ca]=Prova de llista d'activitats
Name[ca@valencia]=Prova de llista d'activitats
Name[cs]=Test seznamu aktivit
Name[de]=Aktivitätentest auflisten
Name[es]=Prueba de listado de actividades
Name[fr]=Test de la liste d'activités
Name[ko]=활동 목록 테스트
Name[nds]=Aktiviteten-Oplisttest
Name[nl]=Lijst met testen voor Activiteiten
Name[pt]=Teste da listagem de actividades
Name[pt_BR]=Teste da lista de atividades
Name[sk]=Test zoznamu aktivít
Name[sv]=Lista aktivitetstester
Name[tr]=Etkinilk sınamasını listele
Name[uk]=Тестування списку просторів дій
Name[x-test]=xxList activities testxx
Comment=Strange, but not a Clock
Comment[ca]=És estrany, però no és cap rellotge
Comment[ca@valencia]=És estrany, però no és cap rellotge
Comment[de]=Seltsam, aber keine Uhr
Comment[es]=Es extraño, pero no es un reloj
Comment[fr]=Étranges, mais ceci n'est pas une horloge
Comment[ko]=수상하지만 시계는 아님
Comment[nds]=Snaaksch, man keen Klock
Comment[nl]=Vreemd, maar geen klok
Comment[pt]=Estranho, Mas Não é um Relógio
Comment[pt_BR]=Estranho, mas não é um relógio
Comment[sk]=Zvláštne, ale nie hodiny
Comment[sv]=Underlig, men inte en klocka
Comment[uk]=Дивно, але не годинник
Comment[x-test]=xxStrange, but not a Clockxx

Icon=preferences-system-time
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-DefaultSize=250,250

X-KDE-PluginInfo-Author=Ivan
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=org.kde.listactivitiestest
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://userbase.kde.org/Plasma/Clocks
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

