[Desktop Entry]
Name=Dummy plugin
Name[bg]=Празна приставка
Name[cs]=Prázdný modul
Name[et]=Kohatäiteplugin
Name[eu]=Gezurretazko plugina
Name[hu]=Hamis bővítmény
Name[ia]=Plugin vacue
Name[nb]=Attrapp-programtilleggs
Name[nds]=Platzholl-Moduul
Name[nl]=Dummy plug-in
Name[pt]='Plugin' de testes
Name[pt_BR]=Plug-in de testes
Name[ro]=Modul fictiv
Name[ru]=Дополнение для тестирования
Name[sv]=Testinsticksprogram
Name[tg]=Плагини сохтагӣ
Name[ug]=مەۋھۇم قىستۇرما
Name[uk]=Тестовий додаток
Name[x-test]=xxDummy pluginxx
Name[zh_TW]=空白外掛程式
Comment=Just testing
Comment[bg]=Само за изпробване
Comment[cs]=Pouze testovací
Comment[et]=Lihtsalt test
Comment[eu]=Soilik probatarako
Comment[hu]=Csak tesztelés
Comment[ia]=Solmente per essayar
Comment[lt]=Tiesiog testuojama
Comment[nb]=Bare tester
Comment[nds]=Bloots an't Utproberen
Comment[nl]=Gewoon testen
Comment[pt]=Apenas para testes
Comment[pt_BR]=Apenas testando
Comment[ro]=Doar pentru testare
Comment[ru]=Проверка
Comment[sv]=Bara testning
Comment[tg]=Танҳо санҷида истодааст
Comment[uk]=Тестування
Comment[x-test]=xxJust testingxx
Comment[zh_TW]=測試用
Type=Service
Icon=

X-KDE-ServiceTypes=ActivityManager/Plugin
X-KDE-Library=activitymanager_plugin_dummy
X-KDE-PluginInfo-Author=Ivan Cukic
X-KDE-PluginInfo-Email=ivan.cukic@kde.org
X-KDE-PluginInfo-Name=org.kde.kactivitymanager.dummy
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Language
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-ActivityManager-PluginType=normal
