[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=ActivityManager/Plugin

Comment=Activity manager plugin
Comment[ca]=Connector del gestor d'activitats
Comment[cs]=Modul Správce aktivit
Comment[de]=Modul für Aktivitätenverwaltung
Comment[es]=Complemento del gestor de actividades
Comment[eu]=Jarduera kudeatzailearen plugina
Comment[hu]=Aktivitáskezelő bővítmény
Comment[ia]=Plugin de gerente de activitate
Comment[nb]=Programtillegg for aktivitetsbehandling
Comment[nds]=Aktivitetenpleger-Moduul
Comment[nl]=Plug-in van activiteitenbeheerder
Comment[pt]='Plugin' de gestão de actividades
Comment[pt_BR]=Plug-in do gerenciador de atividades
Comment[sv]=Insticksprogram för aktivitetshantering
Comment[uk]=Додаток керування просторами дій
Comment[x-test]=xxActivity manager pluginxx
Comment[zh_CN]=活动管理器插件
Comment[zh_TW]=活動管理員外掛程式

[PropertyDef::X-ActivityManager-PluginType]
Type=QString

[PropertyDef::X-ActivityManager-PluginOverrides]
Type=QString

