[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=ActivityManager/Plugin

Comment=Activity manager plugin

[PropertyDef::X-ActivityManager-PluginType]
Type=QString

[PropertyDef::X-ActivityManager-PluginOverrides]
Type=QString

