[Desktop Entry]
Type=Service
Icon=preferences-activities
X-KDE-ServiceTypes=
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
Exec=kactivitymanagerd

Name=Activity Manager
Name[cs]=Správce aktivit
Name[de]=Aktivitätenverwaltung
Name[es]=Gestor de actividades
Name[eu]=Jarduera kudeatzailea
Name[hu]=Aktivitáskezelő
Name[nb]=Aktivitetsbehandling
Name[nds]=Aktivitetenpleger
Name[nl]=Activiteitenbeheerder
Name[pt]=Gestor de Actividades
Name[pt_BR]=Gerenciador de atividades
Name[sv]=Aktivitetshanterare
Name[uk]=Керування просторами дій
Name[x-test]=xxActivity Managerxx
Name[zh_CN]=活动管理器
Name[zh_TW]=活動管理員

Comment=The activity management backend
Comment[cs]=Podpůrná vrstva pro správu aktivit
Comment[de]=Backend der Aktivitätenverwaltung
Comment[es]=El motor de la gestión de actividades
Comment[eu]=Jarduera kudeaketa 'backend'
Comment[hu]=Aktivitáskezelő modul
Comment[nb]=Bakgrunnsmotoren for aktivitetsbehandling
Comment[nds]=Hülpprogramm för den Aktivitetenpleger
Comment[nl]=De activiteitenbeheerder-backend
Comment[pt]=A infra-estrutura de gestão de actividades
Comment[pt_BR]=Infraestrutura de gerenciamento de atividades
Comment[sv]=Gränssnittet för aktivitetshanteringen
Comment[uk]=Сервер керування просторами дій
Comment[x-test]=xxThe activity management backendxx
Comment[zh_CN]=活动管理器后端
Comment[zh_TW]=活動管理後端介面
