[Desktop Entry]
Type=Service
Icon=preferences-activities
X-KDE-ServiceTypes=
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
Exec=kactivitymanagerd

Name=Activity Manager
Name[ca]=Gestor d'activitats
Name[cs]=Správce aktivit
Name[da]=Aktivitetshåndtering
Name[de]=Aktivitätenverwaltung
Name[es]=Gestor de actividades
Name[et]=Tegevuste haldur
Name[eu]=Jarduera kudeatzailea
Name[fi]=Aktiviteettihallinta
Name[ga]=Bainisteoir Gníomhaíochta
Name[gl]=Xestor da actividade
Name[he]=מנהל פעילויות
Name[hu]=Aktivitáskezelő
Name[ia]=Gerente de activitate
Name[it]=Gestore delle attività
Name[kk]=Белсенділік менеджері
Name[km]=កម្មវិធី​គ្រប់គ្រង​សកម្មភាព
Name[nb]=Aktivitetsbehandling
Name[nds]=Aktivitetenpleger
Name[nl]=Activiteitenbeheerder
Name[pa]=ਐਕਟਵਿਟੀ ਮੈਨੇਜਰ
Name[pt]=Gestor de Actividades
Name[pt_BR]=Gerenciador de atividades
Name[ro]=Gestionar de activități
Name[se]=Aktivitehtagieđahalli
Name[sl]=Upravljalnik dejavnosti
Name[sv]=Aktivitetshanterare
Name[tr]=Etkinlik Yöneticisi
Name[uk]=Керування просторами дій
Name[x-test]=xxActivity Managerxx
Name[zh_CN]=活动管理器
Name[zh_TW]=活動管理員

Comment=The activity management backend
Comment[ca]=Dorsal de gestió d'activitats
Comment[cs]=Podpůrná vrstva pro správu aktivit
Comment[da]=Motor til aktivitetshåndtering
Comment[de]=Backend der Aktivitätenverwaltung
Comment[es]=El motor de la gestión de actividades
Comment[et]=Tegevuste haldamise taustaprogramm
Comment[eu]=Jarduera kudeaketa 'backend'
Comment[fi]=Aktiviteettihallintataustaohjelma
Comment[ga]=Inneall bainisteoireachta gníomhaíochta
Comment[gl]=A infraestrutura de xestión da actividade
Comment[he]=מנוע ניהול הפעילויות
Comment[hu]=Aktivitáskezelő modul
Comment[ia]=Le retro-administration de gestion de activitate
Comment[it]=Il motore di gestione delle attività
Comment[kk]=Белсенділікті басқару бағдарламасы
Comment[km]=កម្មវិធី​ខាងក្រោយ​ការ​គ្រប់គ្រង​សកម្មភាព
Comment[nb]=Bakgrunnsmotoren for aktivitetsbehandling
Comment[nds]=Hülpprogramm för den Aktivitetenpleger
Comment[nl]=De activiteitenbeheerder-backend
Comment[pa]=ਸਰਗਰਮੀ ਮੈਨਿਜਮੈਂਟ ਬੈਕਐਂਡ
Comment[pt]=A infra-estrutura de gestão de actividades
Comment[pt_BR]=Infraestrutura de gerenciamento de atividades
Comment[ro]=Suport pentru administrare activități
Comment[se]=Aktivitehtagieđahallama duogášmohtor
Comment[sl]=Hrbtenica za upravljanje z dejavnostmi
Comment[sv]=Gränssnittet för aktivitetshanteringen
Comment[tr]=Etkinlik yönetimi arkaucu
Comment[uk]=Сервер керування просторами дій
Comment[x-test]=xxThe activity management backendxx
Comment[zh_CN]=活动管理器后端
Comment[zh_TW]=活動管理後端介面
