[Desktop Entry]
Name=Event Spy
Name[ca]=Espia l'esdeveniment
Name[cs]=Špeh událostí
Name[de]=Ereignisüberwachung
Name[en_GB]=Event Spy
Name[es]=Espía de eventos
Name[fi]=Tapahtumavakooja
Name[gl]=Espía de eventos
Name[he]=מרגל אירועים
Name[nl]=Gebeurtenisspion
Name[pl]=Szpieg wydarzeń
Name[pt]=Monitor de Eventos
Name[pt_BR]=Espião de eventos
Name[ru]=Монитор событий
Name[sk]=Špión udalostí
Name[sl]=Nadzor dogodkov
Name[sv]=Händelseövervakare
Name[uk]=Журнал подій
Name[x-test]=xxEvent Spyxx
Comment=Collects events from applications that support recent documents specification
Comment[ca]=Recull els esdeveniments de les aplicacions que admeten l'especificació dels documents recents
Comment[cs]=Sbírá z aplikací události jenž podporují určení nedávných dokumentů
Comment[en_GB]=Collects events from applications that support recent documents specification
Comment[es]=Recopila eventos de aplicaciones que incorporan la especificación de documentos recientes
Comment[fi]=Kerää tapahtumia sovelluksilta, jotka tukevat viimeaikaisten tiedostojen määrittelyä
Comment[gl]=Recolle eventos dos programas compatíbeis coa especificación de documentos recentes.
Comment[he]=אוסף אירועים מאת יישומים שתומכים בתקן של מסמכים אחרונים
Comment[nl]=Verzamelt gebeurtenissen uit toepassingen die recente documentspecificaties ondersteunen
Comment[pl]=Gromadzi wydarzenia z aplikacji, które spełniają wymogi ostatnich dokumentów 
Comment[pt]=Recolhe eventos das aplicações que suportam a especificação dos documentos recentes
Comment[pt_BR]=Identifica eventos a partir de aplicativos que tem suporte a especificação de documentos recentes
Comment[ru]=Собирает от поддерживаемых приложений события о последних открытых документах
Comment[sk]=Zbiera udalosti z aplikácií, ktoré podporujú špecifikáciu nedávnych dokumentov
Comment[sl]=Zbira dogodke iz programov, ki podpirajo določitev nedavnih dokumentov
Comment[sv]=Samlar in händelser från program som stöder senare dokumentspecifikationer
Comment[uk]=Збирає записи подій від програм, у яких реалізовано специфікацію нещодавніх документів
Comment[x-test]=xxCollects events from applications that support recent documents specificationxx
Type=Service
Icon=preferences-system

X-KDE-ServiceTypes=ActivityManager/Plugin
X-KDE-Library=kactivitymanagerd_plugin_eventspy
X-KDE-PluginInfo-Author=Ivan Čukić
X-KDE-PluginInfo-Email=ivan.cukic(at)kde.org
X-KDE-PluginInfo-Name=org.kde.ActivityManager.EventSpy
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

