[Desktop Entry]
Name=Activity Templates
Comment=Support for creating templated activities
Type=Service
Icon=edit-copy

X-KDE-ServiceTypes=ActivityManager/Plugin
X-KDE-Library=activitymanager_plugin_activitytemplates
X-KDE-PluginInfo-Author=Ivan Čukić
X-KDE-PluginInfo-Email=ivan.cukic@kde.org
X-KDE-PluginInfo-Name=org.kde.kactivitymanager.activitytemplates
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

