[Desktop Entry]
Name=Activity Templates
Name[ca@valencia]=Plantilles d'activitats
Name[de]=Aktivitätenvorlagen
Name[es]=Plantillas de actividades
Name[ko]=활동 템플릿
Name[nds]=Aktiviteten-Vörlagen
Name[pt]=Modelos de Actividades
Name[pt_BR]=Modelos de atividades
Name[sv]=Aktivitetsmallar
Name[uk]=Шаблони просторів дій
Comment=Support for creating templated activities
Comment[ca@valencia]=Suport per a la creació d'activitats aplantillades
Comment[de]=Unterstützung für das Erstellen von Vorlagen  für Aktivitäten
Comment[es]=Creación de plantillas de actividades
Comment[ko]=템플릿이 있는 활동 생성 지원
Comment[nds]=Ünnerstütten för't Opstellen Aktiviteetvörlagen
Comment[pt]=Suporte para criar actividades em modelos
Comment[pt_BR]=Suporte para criação de atividades em modelos
Comment[sv]=Stöd för att skapa aktivitetsmallar
Comment[uk]=Підтримка створення шаблонних просторів дій
Type=Service
Icon=edit-copy

X-KDE-ServiceTypes=ActivityManager/Plugin
X-KDE-Library=activitymanager_plugin_activitytemplates
X-KDE-PluginInfo-Author=Ivan Čukić
X-KDE-PluginInfo-Email=ivan.cukic@kde.org
X-KDE-PluginInfo-Name=org.kde.kactivitymanager.activitytemplates
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

