[Desktop Entry]
Name=Activity Templates
Name[ar]=قوالب الأنشطة
Name[ca]=Plantilles de les activitats
Name[ca@valencia]=Plantilles d'activitats
Name[cs]=Šablony aktivit
Name[de]=Aktivitätenvorlagen
Name[en_GB]=Activity Templates
Name[es]=Plantillas de actividades
Name[fi]=Aktiviteettimallit
Name[fr]=Modèles d'activité
Name[gl]=Modelos de actividade
Name[hu]=Aktivitássablonok
Name[ia]=Patronos de Activitate
Name[is]=Sniðmát fyrir virkni
Name[it]=Modelli di attività
Name[ko]=활동 템플릿
Name[lt]=Veiklų šablonai
Name[mr]=कार्यपध्दती टेम्प्लेट्स
Name[nb]=Film-maler
Name[nds]=Aktiviteten-Vörlagen
Name[nl]=Sjablonen voor activiteit
Name[pa]=ਐਕਟਵਿਟੀ ਟੈਪਲੇਟ
Name[pl]=Szablony działań
Name[pt]=Modelos de Actividades
Name[pt_BR]=Modelos de atividades
Name[ro]=Șabloane de activități
Name[ru]=Шаблоны комнат
Name[sk]=Šablóny aktivít
Name[sl]=Predloge dejavnosti
Name[sr]=Шаблони активности
Name[sr@ijekavian]=Шаблони активности
Name[sr@ijekavianlatin]=Šabloni aktivnosti
Name[sr@latin]=Šabloni aktivnosti
Name[sv]=Aktivitetsmallar
Name[tr]=Etkinlik Şablonları
Name[uk]=Шаблони просторів дій
Name[x-test]=xxActivity Templatesxx
Name[zh_CN]=活动模板
Name[zh_TW]=活動樣本
Comment=Support for creating templated activities
Comment[ar]=دعم إنشاء قوالب أنشطة
Comment[ca]=Suport per a la creació d'activitats amb plantilles
Comment[ca@valencia]=Suport per a la creació d'activitats aplantillades
Comment[de]=Unterstützung für das Erstellen von Vorlagen  für Aktivitäten
Comment[en_GB]=Support for creating templated activities
Comment[es]=Creación de plantillas de actividades
Comment[fi]=Tuki aktiviteettimallien tekemiseen
Comment[fr]=Prise en charge de la création d'activités par modèles
Comment[gl]=Permite a creación de modelos de actividades
Comment[hu]=Támogatás sablonból létrehozott aktivitásokhoz
Comment[ia]=Supporto pro crear activitates de forma de patrono
Comment[is]=Stuðningur við að útbúa virknisvið út frá sniðmátum
Comment[it]=Supporto per creare attività da modelli
Comment[ko]=템플릿이 있는 활동 생성 지원
Comment[nb]=Støtte for å opprette aktiviteter fra maler
Comment[nds]=Ünnerstütten för't Opstellen Aktiviteetvörlagen
Comment[nl]=Ondersteuning voor aanmaken van activiteiten volgens sjablonen
Comment[pl]=Obsługa tworzenia szablonowych działań
Comment[pt]=Suporte para criar actividades em modelos
Comment[pt_BR]=Suporte para criação de atividades em modelos
Comment[ro]=Suport pentru crearea activităților cu șablon
Comment[ru]=Поддержка создания шаблонов комнат
Comment[sk]=Podpora pre vytváranie šablónovaných aktivít
Comment[sl]=Podpora za ustvarjanje predlog dejavnosti
Comment[sr]=Подршка за стварање шаблонских активности
Comment[sr@ijekavian]=Подршка за стварање шаблонских активности
Comment[sr@ijekavianlatin]=Podrška za stvaranje šablonskih aktivnosti
Comment[sr@latin]=Podrška za stvaranje šablonskih aktivnosti
Comment[sv]=Stöd för att skapa aktivitetsmallar
Comment[tr]=Şablonlu etkinlik oluşturmak için destek
Comment[uk]=Підтримка створення шаблонних просторів дій
Comment[x-test]=xxSupport for creating templated activitiesxx
Comment[zh_CN]=支持基于模板创建活动
Comment[zh_TW]=支援建立樣本活動
Type=Service
Icon=edit-copy

X-KDE-ServiceTypes=ActivityManager/Plugin
X-KDE-Library=kactivitymanagerd_plugin_activitytemplates
X-KDE-PluginInfo-Author=Ivan Čukić
X-KDE-PluginInfo-Email=ivan.cukic@kde.org
X-KDE-PluginInfo-Name=org.kde.ActivityManager.ActivityTemplates
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

