[Desktop Entry]
Name=Activity Templates
Name[uk]=Шаблони просторів дій
Name[x-test]=xxActivity Templatesxx
Comment=Support for creating templated activities
Comment[uk]=Підтримка створення шаблонних просторів дій
Comment[x-test]=xxSupport for creating templated activitiesxx
Type=Service
Icon=edit-copy

X-KDE-ServiceTypes=ActivityManager/Plugin
X-KDE-Library=kactivitymanagerd_plugin_activitytemplates
X-KDE-PluginInfo-Author=Ivan Čukić
X-KDE-PluginInfo-Email=ivan.cukic@kde.org
X-KDE-PluginInfo-Name=org.kde.ActivityManager.ActivityTemplates
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

