[Desktop Entry]
Icon=preferences-activities
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_activities
X-KDE-FactoryName=kcm_activities
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=workspace-behavior
X-KDE-Weight=4

Name=Activities
Name[ca]=Activitats
Name[cs]=Aktivity
Name[el]=Δραστηριότητες
Name[es]=Actividades
Name[fi]=Aktiviteetit
Name[hu]=Aktivitások
Name[ia]=Activitates
Name[nl]=Activiteiten
Name[pl]=Działania
Name[pt]=Actividades
Name[pt_BR]=Atividades
Name[sk]=Aktivity
Name[sr]=Активности
Name[sr@ijekavian]=Активности
Name[sr@ijekavianlatin]=Aktivnosti
Name[sr@latin]=Aktivnosti
Name[sv]=Aktiviteter
Name[uk]=Простори дій
Name[x-test]=xxActivitiesxx
Name[zh_CN]=活动
Name[zh_TW]=活動
Comment=Configure the activities system
Comment[ca]=Configura el sistema d'activitats
Comment[el]=Διαμόρφωση του συστήματος δραστηριοτήτων
Comment[es]=Configurar el sistema de actividades
Comment[fi]=Aktiviteettien asetukset
Comment[hu]=Az aktivitások rendszer beállítása
Comment[ia]=Configura le systema de activitates
Comment[nl]=Het systeem van activiteiten instellen
Comment[pl]=Konfiguruj system działań
Comment[pt]=Configurar o sistema de actividades
Comment[pt_BR]=Configura o sistema de atividades
Comment[sk]=Nastaviť systém aktivít
Comment[sr]=Подесите систем активности
Comment[sr@ijekavian]=Подесите систем активности
Comment[sr@ijekavianlatin]=Podesite sistem aktivnosti
Comment[sr@latin]=Podesite sistem aktivnosti
Comment[sv]=Anpassa aktivitetssystemet
Comment[uk]=Налаштування системи просторів дій
Comment[x-test]=xxConfigure the activities systemxx
Comment[zh_CN]=配置活动系统
Comment[zh_TW]=設定活動系統

