[Desktop Entry]
Icon=preferences-activities
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_activities
X-KDE-FactoryName=kcm_activities
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=workspace-behavior
X-KDE-Weight=4

Name=Activities
Name[ca]=Activitats
Name[cs]=Aktivity
Name[es]=Actividades
Name[fi]=Aktiviteetit
Name[fr]=Activités
Name[nl]=Activiteiten
Name[pt]=Actividades
Name[sk]=Aktivity
Name[sv]=Aktiviteter
Name[uk]=Простори дій
Name[x-test]=xxActivitiesxx
Comment=Configure the activities system
Comment[ca]=Configura el sistema d'activitats
Comment[cs]=Nastavit systém aktivit
Comment[es]=Configurar el sistema de actividades
Comment[fi]=Aktiviteettien asetukset
Comment[fr]=Configure le système d'activités
Comment[nl]=Het systeem van activiteiten instellen
Comment[pt]=Configurar o sistema de actividades
Comment[sk]=Nastaviť systém aktivít
Comment[sv]=Anpassa aktivitetssystemet
Comment[uk]=Налаштування системи просторів дій
Comment[x-test]=xxConfigure the activities systemxx

