[Desktop Entry]
Icon=preferences-activities
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_activities
X-KDE-FactoryName=kcm_activities
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=workspace-behavior
X-KDE-Weight=4

Name=Activities
Name[cs]=Aktivity
Name[es]=Actividades
Name[hu]=Aktivitások
Name[ia]=Activitates
Name[nl]=Activiteiten
Name[pt]=Actividades
Name[pt_BR]=Atividades
Name[sk]=Aktivity
Name[sv]=Aktiviteter
Name[uk]=Простори дій
Name[x-test]=xxActivitiesxx
Name[zh_CN]=活动
Comment=Configure the activities system
Comment[es]=Configurar el sistema de actividades
Comment[hu]=Az aktivitások rendszer beállítása
Comment[ia]=Configura le systema de activitates
Comment[nl]=Het systeem van activiteiten instellen
Comment[pt]=Configurar o sistema de actividades
Comment[pt_BR]=Configura o sistema de atividades
Comment[sk]=Nastaviť systém aktivít
Comment[sv]=Anpassa aktivitetssystemet
Comment[uk]=Налаштування системи просторів дій
Comment[x-test]=xxConfigure the activities systemxx
Comment[zh_CN]=配置活动系统

