[Desktop Entry]
Name=Global Shortcuts plugin
Name[ca]=Connector de dreceres globals
Name[da]=Plugin til globale genveje
Name[el]=Πρόσθετο καθολικών συντομεύσεων
Name[es]=Complemento de accesos rápidos de teclado globales
Name[et]=Globaalsete kiirklahvide plugin
Name[ia]=Plugin de vias breve global
Name[it]=Estensione per scorciatoie globali
Name[kk]=Жалпы жүйелік тіркесімдер плагині
Name[nl]=Plug-in voor globale sneltoetsen
Name[pt]='Plugin' de Atalhos Globais
Name[pt_BR]=Plugin de atalhos globais
Name[ro]=Modul pentru acceleratori globali
Name[sk]=Plugin globálnych skratiek
Name[sr]=Прикључак глобалних пречица
Name[sr@ijekavian]=Прикључак глобалних пречица
Name[sr@ijekavianlatin]=Priključak globalnih prečica
Name[sr@latin]=Priključak globalnih prečica
Name[sv]=Insticksprogram för globala genvägar
Name[uk]=Додаток загальних скорочень
Name[x-test]=xxGlobal Shortcuts pluginxx
Name[zh_TW]=全域捷徑外掛程式
Comment=Adds global keyboard shorcuts to KActivityManager Daemon
Comment[ca]=Afegeix les dreceres de teclat globals al dimoni KActivityManager
Comment[da]=Føjer globale tastaturgenveje til KActivityManager-dæmonen
Comment[es]=Añade accesos rápidos de teclado globales al demonio KActivityManager
Comment[et]=Globaalsete kiirklahvide lisamine KActivityManageri deemonile
Comment[ia]=Adde vias breve de claviero global pro Daemon de KActivityManager
Comment[it]=Aggiunge scorciatoie della tastiera globali al demone di gestione delle attività
Comment[kk]=KActivityManager қызметіне Жалпы жүйелік тіркесімдерді қосу
Comment[nl]=Voegt globale sneltoetsen toe aan KActivityManager-daemon
Comment[pt]=Adiciona atalhos globais do teclado ao serviço KActivityManager
Comment[pt_BR]=Adiciona atalhos de teclado globais ao Daemon do KActivityManager
Comment[sk]=Pridá globálne klávesové skratky do démona KActivityManager
Comment[sr]=Додаје глобалне пречице са тастатуре демону менаџера активности
Comment[sr@ijekavian]=Додаје глобалне пречице са тастатуре демону менаџера активности
Comment[sr@ijekavianlatin]=Dodaje globalne prečice sa tastature demonu menadžera aktivnosti
Comment[sr@latin]=Dodaje globalne prečice sa tastature demonu menadžera aktivnosti
Comment[sv]=Lägger till globala snabbtangenter till KActivityManager-demonen
Comment[uk]=Додає загальні клавіатурні скорочення для використання у фоновій службі KActivityManager
Comment[x-test]=xxAdds global keyboard shorcuts to KActivityManager Daemonxx
Comment[zh_TW]=新增全域鍵盤捷徑到 KActivityManager 伺服程式
Type=Service
Icon=

X-KDE-ServiceTypes=ActivityManager/Plugin
X-KDE-Library=activitymanager_plugin_globalshortcuts
X-KDE-PluginInfo-Author=Makis Marimpis
X-KDE-PluginInfo-Email=makhsm@gmail.com
X-KDE-PluginInfo-Name=org.kde.kactivitymanager.globalshortcuts
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Language
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-ActivityManager-PluginType=normal
