[Desktop Entry]
Name=Global Shortcuts plugin
Name[ca]=Connector de dreceres globals
Name[da]=Plugin til globale genveje
Name[de]=Modul für globale Kurzbefehle
Name[el]=Πρόσθετο καθολικών συντομεύσεων
Name[es]=Complemento de accesos rápidos de teclado globales
Name[et]=Globaalsete kiirklahvide plugin
Name[fi]=Järjestelmänlaajuiset pikanäppäimet -liitännäinen
Name[ia]=Plugin de vias breve global
Name[kk]=Жалпы жүйелік тіркесімдер плагині
Name[nl]=Plug-in voor globale sneltoetsen
Name[pa]=ਗਲੋਬਲ ਸ਼ਾਰਟਕੱਟ ਪਲੱਗਇਨ
Name[pl]=Wtyczka globalnych skrótów
Name[pt]='Plugin' de Atalhos Globais
Name[pt_BR]=Plugin de atalhos globais
Name[ro]=Modul pentru acceleratori globali
Name[sk]=Plugin globálnych skratiek
Name[sv]=Insticksprogram för globala genvägar
Name[uk]=Додаток загальних скорочень
Name[x-test]=xxGlobal Shortcuts pluginxx
Name[zh_CN]=全局快捷键插件
Name[zh_TW]=全域捷徑外掛程式
Comment=Adds global keyboard shortcuts to KActivityManager Daemon
Comment[ca]=Afegeix les dreceres de teclat globals al dimoni KActivityManager
Comment[el]=Προσθέτει καθολικές συντομεύσεις πληκτρολογίου στο δαίμονα KActivityManager
Comment[es]=Añade accesos rápidos de teclado globales al demonio KActivityManager
Comment[fi]=Lisää järjestelmänlaajuiset pikanäppäimet KActivityManager-taustaprosessiin
Comment[ia]=Adde vias breve de claviero global a Daemon de KactivityManager (gerente de activitate)
Comment[nl]=Voegt globale sneltoetsen toe aan KActivityManager-daemon
Comment[pl]=Dodaj globalne skróty klawiaturowe do demona KActivityManager
Comment[pt]=Adiciona atalhos globais do teclado para o serviço KActivityManager
Comment[pt_BR]=Adiciona atalhos de teclado globais ao Daemon do KActivityManager
Comment[ro]=Adaugă acceleratori de tastatură globali la serviciul gestionar de activități
Comment[sv]=Lägger till globala snabbtangenter till KActivityManager-demonen
Comment[uk]=Додає загальні клавіатурні скорочення для використання у фоновій службі KActivityManager
Comment[x-test]=xxAdds global keyboard shortcuts to KActivityManager Daemonxx
Comment[zh_CN]=为 KActivityManager 守护进程添加全局键盘快捷键
Comment[zh_TW]=新增全域鍵盤捷徑到 KActivityManager 伺服程式
Type=Service
Icon=

X-KDE-ServiceTypes=ActivityManager/Plugin
X-KDE-Library=activitymanager_plugin_globalshortcuts
X-KDE-PluginInfo-Author=Makis Marimpis
X-KDE-PluginInfo-Email=makhsm@gmail.com
X-KDE-PluginInfo-Name=org.kde.kactivitymanager.globalshortcuts
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Language
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-ActivityManager-PluginType=normal
