[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=File to activity linking plugin
Name[ca]=Fitxer a connector d'enllaç d'activitat
Name[et]=Faili tegevusega linkimise plugin
Name[ia]=File pro Plugin ligante de activitate
Name[nl]=Plug-in voor koppelen van bestand aan activiteit
Name[pa]=ਸਰਗਰਮੀ ਲਿੰਕਿੰਗ ਪਲੱਗਇਨ ਲਈ ਫਾਇਲ
Name[pt]='Plugin' de ligação de ficheiros a actividades
Name[pt_BR]=Plug-in de ligação arquivo a atividade
Name[tr]=Etkinliğe dosya bağlama eklentisi
Name[uk]=Додаток прив’язування файлів до просторів дій
Name[x-test]=xxFile to activity linking pluginxx
X-KDE-Library=kactivitymanagerd_fileitem_linking_plugin
ServiceTypes=KFileItemAction/Plugin
MimeType=all/all;application/octet-stream;inode/directory;
